@import "tailwindcss";

html {
    min-height: 100%;
    background-image: url('/coinkeeper-bg-pattern.svg');
    background-repeat: repeat;
    background-color: #f8f9fa;
    background-attachment: fixed;
}
